.faq{
    background-color: black;
    margin: 0px;
    padding: 20px 200px 30px 200px;
}
p{
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
big{
    font-size: 30px;
}
u{
    color: red;
    cursor: pointer;
}